Repository Lightning-Universe/stable-diffusion-deploy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aniketmaurya, @Lightning-Universe/engs, @Lightning-Universe/eng-leads

Update dependabot.yml
  .github/dependabot.yml
Owners: @Lightning-Universe/eng-leads

adding stale bot
  .github/stale.yml
Owners: @Lightning-Universe/eng-leads

Update ci-checks.yml
  .github/workflows/ci-checks.yml
Owners: @Lightning-Universe/eng-leads

upgrade to lightning 1.9 (#252)
  requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

reduce cost (#254)
  muse/components/load_balancer.py
  muse/components/safety_checker_embedding.py
Owners: @aniketmaurya, @Lightning-Universe/engs

Update test.txt
  requirements/test.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Update requirements.txt
  tests/requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Apply suggestions from code review
  requirements/test.txt
  tests/requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

ci: update checks (#261)
  .github/workflows/ci-checks.yml
Owners: @Lightning-Universe/eng-leads

drop
  requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Fix stable_diffusion_serve.py to use custom model - The custom model which isn't supported in stable_diffusion_inference.
  muse/components/stable_diffusion_serve.py
Owners: @aniketmaurya, @Lightning-Universe/engs

Add new testing funcitons, new logic for url verification
  .github/workflows/ci-testing.yml
  .gitignore
  app.py
  dev_install.sh
  docs/configurations.md
  muse/components/stable_diffusion_serve.py
  requirements.txt
  requirements/dev.txt
  requirements/test.txt
  tests/README.md
  tests/local_tests/test_custom_model_using_http_url.py
  tests/local_tests/test_custom_model_using_local_path.py
  tests/requirements.txt
  tests/test_custom_model_logic.py
Owners: @Lightning-Universe/eng-leads, @aniketmaurya, @Lightning-Universe/engs

Adding python-dotenv into requirements
  requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Adding uvloop
  requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Apply suggestions from code review
  requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Removing codecov
  requirements/test.txt
  tests/requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Adding python-dotenv into requirements (#280)
  requirements.txt
  requirements/test.txt
  tests/requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

ci: drop codecov
  .github/workflows/ci-testing.yml
  requirements/test.txt
  tests/requirements.txt
Owners: @Lightning-Universe/eng-leads, @aniketmaurya, @Lightning-Universe/engs

ci: drop codecov (#281)
  .github/workflows/ci-testing.yml
Owners: @Lightning-Universe/eng-leads

Merge branch 'main' into feat/custom-model-not-supported-in-stable-diffusion-deploy
  requirements/dev.txt
  requirements/test.txt
  tests/requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Delete requirements.txt
  tests/requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Delete duplicate test requirements (#296)
  tests/requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

Apply suggestions from code review
  requirements.txt
Owners: @aniketmaurya, @Lightning-Universe/engs

ci: bump OS runners
  .github/workflows/ci-testing.yml
  .github/workflows/deploy.yml
Owners: @Lightning-Universe/eng-leads

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for review when someone opens a pull request.
* @aniketmaurya @Lightning-Universe/engs

# owners
/.github/CODEOWNERS   @Lightning-Universe/eng-leads
# main
/README.md            @Lightning-Universe/eng-leads
/LICENSE              @Lightning-Universe/eng-leads

# CI/CD
/.github/             @Lightning-Universe/eng-leads
